/*
 WxFramework all rights reserved to Wojciech Paluch <wojciech.paluch1993 at gmail.com>
*/
/* 
    Created on : 2016-04-05, 01:42:34
    Author     : Wojciech Paluch <wojciech.paluch1993 at gmail.com>
*/

@import "skin.scss";


$singleRegisterHeight: 20px;
$singleRegisterWidth: 100px;

$registersWidth: 310px;


$registersBoxTop: 40px;
$registersBoxHeight: 170px;
$registerBoxRightSpace: 20px;
$registersBoxWidth: $registersWidth;
$registersBoxLeft: 20px;


$archAbLeft: $registersBoxLeft + $registersBoxWidth + $registerBoxRightSpace + 15;
$archATop:$registersBoxHeight+$registersBoxTop - 4*$singleRegisterHeight;
$archBTop:$registersBoxHeight+$registersBoxTop - 2*$singleRegisterHeight;

$aluLeftMargin: $archAbLeft + $singleRegisterWidth + $registerBoxRightSpace + 20;
$registerLinePadding: 20px;
$aluTop: $archATop - $singleRegisterHeight;
$aluWidth: 50px;
$aluHeight: 100px;

$switchWBheight: 25px;


$rightEdgeMargin: 20px;
$condSwitchLeft: 60px;
$PCincrementerLeft: 20px;
$topEdgeMargin: 20px;


$irRegisterWidth: 150px;

$smdrRegisterLeft: $aluLeftMargin + $aluWidth + 20px;

$aluSwitchRightPadding: 25px;
$switchWidth: 3px;
$aluSwitchHeight: 40px;
$aluSwitchWidth: 15px;

$incrementerBG: $secondary-color;
$incrementerW: 20px;	
$incrementerH: 20px;	

#architectureBox {
    height: 100%;
    padding-bottom: 30px;
    position: relative;

    #architectureDiagram {

        position: relative;
        height: 100%;
		overflow: hidden;


        #alu {
            position: absolute;
            left: $aluLeftMargin;
            top: $aluTop;
            width: $aluWidth;
            height: $aluHeight;

            img {
                width: $aluWidth;
                height: $aluHeight;
            }

			#alu-switch1,#alu-switch2 {
				position: absolute;
				left: -$aluSwitchRightPadding;
				height: $aluSwitchHeight;
				border-right: solid $switchWidth #000;
				width: 20px;
			}
			#alu-switch1 {
				top: 0px;
			}
			#alu-switch2 {
				bottom: 0px;
			}

        }


        #microcode-block {
            position: absolute;
            left: 50px;
            top: 120px;
            width: 80px;
            height: 80px;
            background: $primary-color;
            text-align: center;
            line-height: 80px;
        }

        #uArIncrementer {
            position: absolute;
            left: 50px;
            top: 10px;
            width: 50px;
            height: 50px;
            background: $primary-color;
            text-align: center;
            line-height: 50px;
        }

        #uAR-register {
            position: absolute;
            left: 50px;
            top: 70px;
            background: $primary-color;
            text-align: center;
            padding: 5px;
        }

        #memory-block {
			position: absolute;
			right: $rightEdgeMargin + $irRegisterWidth - 20px;
			top: $topEdgeMargin;
            width: 80px;
            height: 80px;
            background: $primary-color;
            text-align: center;
            line-height: 80px;
        }

        #jumptable-block {

            position: absolute;
            left: 50px;
            top: 220px;
            width: 80px;
            height: 80px;
            background: $primary-color;
            text-align: center;
            line-height: 80px;
        }

        #arch-regA,#arch-regB,#arch-regC, .single-register{
            position: absolute;
            width: $singleRegisterWidth;
            height: $singleRegisterHeight;
			line-height: $singleRegisterHeight+2px;
            background: $primary-color;
        }

		#arch-regA-switch, #arch-regB-switch {
			position: absolute;
			left: $archAbLeft - 15px;
			width: 10px;
			height: $singleRegisterHeight;
			border-right: 3px solid #000;
		}
		#arch-regA-switch {
			top: $archATop; 
		}
		#arch-regB-switch {
			top: $archBTop; 
		}

        #arch-regA,#arch-regB {
			position: absolute;
            /*left: $aluLeftMargin;*/
			left: $archAbLeft;
        }
        #arch-regA {
			top: $archATop;

        }
        #arch-regB {
            /*top: $aluTop+$aluHeight+$singleRegisterHeight*3;*/
			top: $archBTop;
        }

        #arch-regC {
            right: 2*$registerLinePadding;
            top: $aluTop+$aluHeight+$singleRegisterHeight*2;
        }

        #registersWrapper {
            position: absolute;
            top: 0px;
            left: 0px;
            /*padding-left: $aluLeftMargin;*/

            #registers {

                position: absolute;
                /*top: $aluTop+$aluHeight/2 + $singleRegisterHeight;*/
                /*left: 50%;*/
				left: $registersBoxLeft;
				top: $registersBoxTop;
                /*margin-left: -$registersWidth/2;*/

                ol {
                    background-color: $table-selected-bg-color;
                    margin-bottom: 0px;
                    /*padding: 5px 10px;*/
                }

                ul#architectureRegisters {
                    margin-top: 10px;
                }
                ul.register-list,ol#register-List {
                    padding: 5px;

                    li {
                        height: 20px;
						width: 140px;
						display: inline-block;
                        line-height: 20px;
                        margin-top: 0px;
                        margin-bottom: 0px;
						padding: 0px;
                        background-color: $table-selected-bg-color;
                    }
                }
            }

        }


        canvas#archConnections {
            z-index: -10;

        }




		#arch-regPC {
			position: absolute;
			left: 20px;
			top: 20px;
		}
		#arch-regPC1 {
			position: absolute;
			left: $archAbLeft;
			top: $topEdgeMargin;
		}

		#arch-regSMDR {
			position: absolute;
			left: $smdrRegisterLeft;
			top: $topEdgeMargin;
		}
		#arch-regLMDR {
			position: absolute;
			right: $rightEdgeMargin;
			top: $aluTop - $singleRegisterHeight/2;
		}
		#arch-switchWB {
			position: absolute;
			right: $rightEdgeMargin*2;
			top: $aluTop + $aluHeight - 8px;
			height: $switchWBheight;
			border-left: solid $switchWidth #000;
			width: 20px;
		}
		#arch-switchCOND{
			position: absolute;
			left: $condSwitchLeft;
			top: $aluTop + $aluHeight + $switchWBheight/3;
			height: $switchWBheight;
			border-left: solid $switchWidth #000;
			width: 20px;
		}
		#PC-incrementer {
			position: absolute;
			left: $PCincrementerLeft;
			top: $aluTop + $aluHeight + $switchWBheight/3 + 2px;
			height: $switchWBheight;
			background: $incrementerBG;
			width: $incrementerW;	
			height: $incrementerH;	
			color: $accent-color-light;
			line-height: 23px;
			padding: 0px;
		}
		#arch-regRES1 {
			position: absolute;
			left: $smdrRegisterLeft;
			top: $aluTop + ($aluHeight/2) - $singleRegisterHeight/2;
		}

		#arch-regMAR {
			position: absolute;
			left: $smdrRegisterLeft;
			top: $aluTop - $singleRegisterHeight/2;
		}

		#arch-regRES2 {
			position: absolute;
			right: $rightEdgeMargin;
			top: $aluTop + ($aluHeight/2) - $singleRegisterHeight/2;
		}

		#IRs {
			position: absolute;
			top: $registersBoxTop + $registersBoxHeight + 2*$registerBoxRightSpace;
			width: 100%;

			#IR0,#IR1,#IR2,#IR3, {
				width: $irRegisterWidth;
			}

			#IR0 {
				left: $registersBoxLeft + $registersBoxWidth/2 - $irRegisterWidth/2;
			}

			#IR1 {
				left: $registersBoxLeft + $registersBoxWidth + $registerBoxRightSpace;
			}
			#IR2 {
				left: $smdrRegisterLeft + $singleRegisterWidth/2 - $irRegisterWidth/2;
			}
			#IR3 {
				right: $rightEdgeMargin;
			}



		}


    }
}


.register-name-out {
	position: absolute;
	left: 5px;
	top: -20px;
}


#architectureBox #architectureDiagram .single-register{
	&.exec-frozen {
		background-color: $IR-frozen-bg-color;
	}
	&.exec-disabled {
		color: #aaaaaa;
	}
}

.act-diag-0 {
	background-color: $accent-color;
}

.act-diag-1 {
	background-color: lighten($accent-color,10%);
}
.act-diag-2 {
	background-color: lighten($accent-color,20%);
}
.act-diag-3 {
	background-color: lighten($accent-color,30%);
}
.act-diag-4 {
	background-color: lighten($accent-color,40%);
}



