/*
 WxFramework all rights reserved to Wojciech Paluch <wojciech.paluch1993 at gmail.com>
*/
/* 
    Created on : 2016-04-05, 01:42:34
    Author     : Wojciech Paluch <wojciech.paluch1993 at gmail.com>
*/
/*
 WxFramework all rights reserved to Wojciech Paluch <wojciech.paluch1993 at gmail.com>
*/
/* 
    Created on : 2016-03-21, 22:22:26
    Author     : Wojciech Paluch <wojciech.paluch1993 at gmail.com>
*/
#architectureBox {
  height: 100%;
  padding-bottom: 30px;
  position: relative; }
  #architectureBox #architectureDiagram {
    position: relative;
    height: 100%;
    overflow: hidden; }
    #architectureBox #architectureDiagram #alu {
      position: absolute;
      left: 505px;
      top: 110px;
      width: 50px;
      height: 100px; }
      #architectureBox #architectureDiagram #alu img {
        width: 50px;
        height: 100px; }
      #architectureBox #architectureDiagram #alu #alu-switch1, #architectureBox #architectureDiagram #alu #alu-switch2 {
        position: absolute;
        left: -25px;
        height: 40px;
        border-right: solid 3px #000;
        width: 20px; }
      #architectureBox #architectureDiagram #alu #alu-switch1 {
        top: 0px; }
      #architectureBox #architectureDiagram #alu #alu-switch2 {
        bottom: 0px; }
    #architectureBox #architectureDiagram #microcode-block {
      position: absolute;
      left: 50px;
      top: 120px;
      width: 80px;
      height: 80px;
      background: #4CAF50;
      text-align: center;
      line-height: 80px; }
    #architectureBox #architectureDiagram #uArIncrementer {
      position: absolute;
      left: 50px;
      top: 10px;
      width: 50px;
      height: 50px;
      background: #4CAF50;
      text-align: center;
      line-height: 50px; }
    #architectureBox #architectureDiagram #uAR-register {
      position: absolute;
      left: 50px;
      top: 70px;
      background: #4CAF50;
      text-align: center;
      padding: 5px; }
    #architectureBox #architectureDiagram #memory-block {
      position: absolute;
      right: 150px;
      top: 20px;
      width: 80px;
      height: 80px;
      background: #4CAF50;
      text-align: center;
      line-height: 80px; }
    #architectureBox #architectureDiagram #jumptable-block {
      position: absolute;
      left: 50px;
      top: 220px;
      width: 80px;
      height: 80px;
      background: #4CAF50;
      text-align: center;
      line-height: 80px; }
    #architectureBox #architectureDiagram #arch-regA, #architectureBox #architectureDiagram #arch-regB, #architectureBox #architectureDiagram #arch-regC, #architectureBox #architectureDiagram .single-register {
      position: absolute;
      width: 100px;
      height: 20px;
      line-height: 22px;
      background: #4CAF50; }
    #architectureBox #architectureDiagram #arch-regA-switch, #architectureBox #architectureDiagram #arch-regB-switch {
      position: absolute;
      left: 350px;
      width: 10px;
      height: 20px;
      border-right: 3px solid #000; }
    #architectureBox #architectureDiagram #arch-regA-switch {
      top: 130px; }
    #architectureBox #architectureDiagram #arch-regB-switch {
      top: 170px; }
    #architectureBox #architectureDiagram #arch-regA, #architectureBox #architectureDiagram #arch-regB {
      position: absolute;
      /*left: $aluLeftMargin;*/
      left: 365px; }
    #architectureBox #architectureDiagram #arch-regA {
      top: 130px; }
    #architectureBox #architectureDiagram #arch-regB {
      /*top: $aluTop+$aluHeight+$singleRegisterHeight*3;*/
      top: 170px; }
    #architectureBox #architectureDiagram #arch-regC {
      right: 40px;
      top: 250px; }
    #architectureBox #architectureDiagram #registersWrapper {
      position: absolute;
      top: 0px;
      left: 0px;
      /*padding-left: $aluLeftMargin;*/ }
      #architectureBox #architectureDiagram #registersWrapper #registers {
        position: absolute;
        /*top: $aluTop+$aluHeight/2 + $singleRegisterHeight;*/
        /*left: 50%;*/
        left: 20px;
        top: 40px;
        /*margin-left: -$registersWidth/2;*/ }
        #architectureBox #architectureDiagram #registersWrapper #registers ol {
          background-color: #E8F5E9;
          margin-bottom: 0px;
          /*padding: 5px 10px;*/ }
        #architectureBox #architectureDiagram #registersWrapper #registers ul#architectureRegisters {
          margin-top: 10px; }
        #architectureBox #architectureDiagram #registersWrapper #registers ul.register-list, #architectureBox #architectureDiagram #registersWrapper #registers ol#register-List {
          padding: 5px; }
          #architectureBox #architectureDiagram #registersWrapper #registers ul.register-list li, #architectureBox #architectureDiagram #registersWrapper #registers ol#register-List li {
            height: 20px;
            width: 140px;
            display: inline-block;
            line-height: 20px;
            margin-top: 0px;
            margin-bottom: 0px;
            padding: 0px;
            background-color: #E8F5E9; }
    #architectureBox #architectureDiagram canvas#archConnections {
      z-index: -10; }
    #architectureBox #architectureDiagram #arch-regPC {
      position: absolute;
      left: 20px;
      top: 20px; }
    #architectureBox #architectureDiagram #arch-regPC1 {
      position: absolute;
      left: 365px;
      top: 20px; }
    #architectureBox #architectureDiagram #arch-regSMDR {
      position: absolute;
      left: 575px;
      top: 20px; }
    #architectureBox #architectureDiagram #arch-regLMDR {
      position: absolute;
      right: 20px;
      top: 100px; }
    #architectureBox #architectureDiagram #arch-switchWB {
      position: absolute;
      right: 40px;
      top: 202px;
      height: 25px;
      border-left: solid 3px #000;
      width: 20px; }
    #architectureBox #architectureDiagram #arch-switchCOND {
      position: absolute;
      left: 60px;
      top: 218.33333px;
      height: 25px;
      border-left: solid 3px #000;
      width: 20px; }
    #architectureBox #architectureDiagram #PC-incrementer {
      position: absolute;
      left: 20px;
      top: 220.33333px;
      height: 25px;
      background: #727272;
      width: 20px;
      height: 20px;
      color: #FFECB3;
      line-height: 23px;
      padding: 0px; }
    #architectureBox #architectureDiagram #arch-regRES1 {
      position: absolute;
      left: 575px;
      top: 150px; }
    #architectureBox #architectureDiagram #arch-regMAR {
      position: absolute;
      left: 575px;
      top: 100px; }
    #architectureBox #architectureDiagram #arch-regRES2 {
      position: absolute;
      right: 20px;
      top: 150px; }
    #architectureBox #architectureDiagram #IRs {
      position: absolute;
      top: 250px;
      width: 100%; }
      #architectureBox #architectureDiagram #IRs #IR0, #architectureBox #architectureDiagram #IRs #IR1, #architectureBox #architectureDiagram #IRs #IR2, #architectureBox #architectureDiagram #IRs #IR3 {
        width: 150px; }
      #architectureBox #architectureDiagram #IRs #IR0 {
        left: 100px; }
      #architectureBox #architectureDiagram #IRs #IR1 {
        left: 350px; }
      #architectureBox #architectureDiagram #IRs #IR2 {
        left: 550px; }
      #architectureBox #architectureDiagram #IRs #IR3 {
        right: 20px; }

.register-name-out {
  position: absolute;
  left: 5px;
  top: -20px; }

#architectureBox #architectureDiagram .single-register.exec-frozen {
  background-color: #E8F5E9; }
#architectureBox #architectureDiagram .single-register.exec-disabled {
  color: #aaaaaa; }

.act-diag-0 {
  background-color: #FFC107; }

.act-diag-1 {
  background-color: #ffce3a; }

.act-diag-2 {
  background-color: #ffdb6d; }

.act-diag-3 {
  background-color: #ffe7a0; }

.act-diag-4 {
  background-color: #fff4d3; }

/*# sourceMappingURL=architecture_diagram.css.map */
